---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Text from '../components/Text.astro';
import Badge from '../components/Badge.astro';
import Section from '../components/Section.astro';
import resume from '../data/resume.json'
import { ICONS_PATH } from '../data/icons.ts'
---

<Layout>
	<main class="flex flex-col gap-6">
    <h1 class="flex gap-6 flex-wrap text-white uppercase text-6xl">
      {resume.about.name} 
      
      <div class="flex-auto p-4 rounded-2xl bg-white text-black">
        <Text size="lg" uppercase>
          {resume.about.position}
        </Text>
      </div>
    </h1>

    <Section>
      <div class="flex flex-wrap gap-2 mb-2">
        {resume.about.city && (
          <Badge title={resume.about.city} color="white" size="xl" withIcon>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d={ICONS_PATH.city}></path></svg>
          </Badge>
        )}
        {resume.about.phone && (
          <a href={`tel:${resume.about.phone}`} class="group cursor-pointer rounded-full hover:shadow-lg hover:shadow-blue-500 *:hover:underline *:hover:underline-offset-4 *:hover:text-blue-500">
            <Badge title={resume.about.phone} color="white" size="xl" withIcon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d={ICONS_PATH.phone}></path></svg>
            </Badge>
          </a>
        )}
        {resume.about.email && (
          <a href={`mailto:${resume.about.email}`} class="group cursor-pointer rounded-full hover:shadow-lg hover:shadow-blue-500 *:hover:underline *:hover:underline-offset-4 *:hover:text-blue-500">
            <Badge title={resume.about.email} color="white" size="xl" withIcon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d={ICONS_PATH.email}></path></svg>
            </Badge>
          </a>
        )}
      </div>

      <div class="flex flex-wrap gap-2">
        {resume.social_profiles.map((profile) => (
          <a href={profile.link} class="group cursor-pointer rounded-full hover:shadow-lg hover:shadow-blue-500 *:hover:underline *:hover:underline-offset-4 *:hover:text-blue-500">
            <Badge title={profile.label} color="white" size="lg" withIcon>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d={ICONS_PATH.social}></path></svg>
            </Badge>
          </a>
        ))}
      </div>
    </Section>

    <Section type="columns">
      <Card color="blue">
        <div class="flex flex-col gap-6 items-start">
          <Text size="xl" uppercase>
            Profile
          </Text>
          <Text>
            {resume.about.summary}
          </Text>
        </div>
      </Card>
      
      <div class="flex flex-col gap-4 pt-4">
        <Text size='xl' color="white" uppercase>Work expirience</Text>

        {resume.work_experience.slice(0, 2).map((expirience) => (
          <Card color="white">
            <Text size="lg" uppercase>
              {expirience.job_title}
            </Text>

            <Text color='blue' uppercase customClass='mt-1 mb-0.5'>{expirience.company}, {expirience.city}</Text>

            <Text color="blue" size="sm">{expirience.start_date}{expirience.start_date !== expirience.end_date ? `- ${expirience.end_date}`: ''}</Text>
            
            <Text customClass='mt-3'>
              {expirience.description}
            </Text>
          </Card>
        ))}
      </div>

      <div class="flex flex-col gap-4 pt-4">
        <Text size='xl' color="white" uppercase>
          Education
        </Text>

        {resume.education.slice(0, 4).map((education) => (
          <Card color="white">
            <Text size="lg" uppercase>
              {education.degree}
            </Text>

            <Text color='blue' uppercase customClass='mt-1 mb-0.5'>{education.institution}, {education.city}</Text>

            <Text color="blue" size="sm">{education.start_date}{education.start_date !== education.end_date ? `- ${education.end_date}`: ''}</Text>
            
            <Text customClass='mt-3'>
              {education.description}
            </Text>
          </Card>
        ))}
      </div>

      <Card color="light">
        <div class="flex flex-col gap-6 items-start">
          <Text size="xl">Hard skills</Text>
          
          {resume.hard_skills.map((skill) => (
            <div class="flex flex-col gap-2 items-start">
              <Badge title={skill.name} color="black" />
              <Text>
                {skill.description}
              </Text>
            </div>
          ))}
        </div>
      </Card>

      <Card color="dark">
        <div class="flex flex-col gap-6">
          <Text size="xl">Soft skills</Text>

          {resume.soft_skills.map((skill) => (
            <div class="flex flex-col gap-2 items-start">
              <Badge title={skill.name} color="blue" />
              <Text>
                {skill.description}
              </Text>
            </div>
          ))}
        </div>
      </Card>
    </Section>

    <Card color="light">
      <div class="flex flex-col gap-6 items-start">
        <Text size="xl">Hobbies</Text>
        
        {resume.hobbies.map((hobby) => (
          <div class="flex flex-col gap-2 items-start">
            <Text size="lg" uppercase>
              {hobby.name}
            </Text>
            <Text>
              {hobby.description}
            </Text>
          </div>
        ))}
      </div>
    </Card>
	</main>
</Layout>
